body {
    font-family: Arial, sans-serif;
    
}

.profile-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-image img {
    width: 40vh;
    height: 40vh;
    margin-left: 20px;
    margin-top: 20px;
    object-fit: cover;
}

.follow-button {
    background-color: #1A4F6C;
    font-size: 20px;
    color: white;
    border: none;
    height: 50px;
    width: 30vh;
    border-radius: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.profile-info h1 {
    font-size: 20vh;
    margin-top: 15px;
}


.profile-info h3 {
    margin: 3px 0;
    font-size: 1.2em;
    color: #555;
}

.verified-badge {
    color: #1DA1F2;
    font-size: 1.2em;
}

.profile-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #777;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.profile-actions {
    margin-top: 10px;
}

.block-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.report-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-gallery {
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.profile-gallery img {
    width: 50vh;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
